<div class="text-center mt-1">
  <h1 class="text-2xl">Good Wordle</h1>
  <h2 class="text-sm">It's not particularly good, but it doesn't have ads.</h2>
</div>
<div id="guesses" class="flex justify-center flex-col gap-3 my-4 mx-2">
  @for (guess of board(); track $index) {
  <div class="flex justify-center gap-3">
    @for (guessValue of guess; track $index) {
    <div
      class="border-solid border border-neutral-600 flex flex-1 h-16 max-w-16 justify-center items-center font-bold text-xl"
      [ngClass]="{
          'bg-success': guessValue.status === GuessStatus.Right,
          'bg-warning': guessValue.status === GuessStatus.Partial,
          'bg-neutral-800': guessValue.status === GuessStatus.Wrong,
          'bg-transparent': guessValue.status === GuessStatus.Empty,
        }"
    >
      {{ guessValue.value }}
    </div>
    }
  </div>
  }
</div>
<div class="flex justify-center">
  @let g = guesses();
  <div id="keyboard" class="flex flex-col justify-center gap-2 w-max">
    <div class="flex justify-center gap-2 flex-wrap">
      <app-kbd letter="Q" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="W" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="E" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="R" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="T" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="Y" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="U" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="I" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="O" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="P" [guesses]="g" (onLetter)="handleLetter($event)" />
    </div>
    <div class="flex justify-center gap-2 flex-wrap">
      <app-kbd letter="A" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="S" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="D" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="F" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="G" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="H" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="J" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="K" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="L" [guesses]="g" (onLetter)="handleLetter($event)" />
    </div>
    <div class="flex justify-center gap-2 flex-wrap">
      <app-kbd
        letter="ENTER"
        [guesses]="[]"
        (onLetter)="handleLetter($event)"
      />
      <app-kbd letter="Z" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="X" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="C" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="V" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="B" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="N" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="M" [guesses]="g" (onLetter)="handleLetter($event)" />
      <app-kbd letter="DEL" [guesses]="[]" (onLetter)="handleLetter($event)" />
    </div>
  </div>
</div>
