<div id="guesses" class="flex justify-center flex-col gap-3 my-2 mx-2">
  @for (guess of board(); track $index) {
  <div class="flex justify-center gap-3">
    @for (guessValue of guess; track $index) {
    <div
      class="h-20 w-20 border-solid border border-neutral-600 flex justify-center items-center font-bold text-lg"
      [ngClass]="{
          'bg-success': guessValue.status === GuessStatus.Right,
          'bg-warning': guessValue.status === GuessStatus.Partial,
          'bg-neutral-800': guessValue.status === GuessStatus.Wrong,
          'bg-transparent': guessValue.status === GuessStatus.Empty,
        }"
    >
      {{ guessValue.value }}
    </div>
    }
  </div>
  }
</div>
<div id="keyboard" class="flex flex-col gap-1">
  <div class="flex justify-center gap-1">
    <kbd class="btn" (click)="handleLetter('Q')">Q</kbd>
    <kbd class="btn" (click)="handleLetter('W')">W</kbd>
    <kbd class="btn" (click)="handleLetter('E')">E</kbd>
    <kbd class="btn" (click)="handleLetter('R')">R</kbd>
    <kbd class="btn" (click)="handleLetter('T')">T</kbd>
    <kbd class="btn" (click)="handleLetter('Y')">Y</kbd>
    <kbd class="btn" (click)="handleLetter('U')">U</kbd>
    <kbd class="btn" (click)="handleLetter('I')">I</kbd>
    <kbd class="btn" (click)="handleLetter('O')">O</kbd>
    <kbd class="btn" (click)="handleLetter('P')">P</kbd>
  </div>
  <div class="flex justify-center gap-1">
    <kbd class="btn" (click)="handleLetter('A')">A</kbd>
    <kbd class="btn" (click)="handleLetter('S')">S</kbd>
    <kbd class="btn" (click)="handleLetter('D')">D</kbd>
    <kbd class="btn" (click)="handleLetter('F')">F</kbd>
    <kbd class="btn" (click)="handleLetter('G')">G</kbd>
    <kbd class="btn" (click)="handleLetter('H')">H</kbd>
    <kbd class="btn" (click)="handleLetter('J')">J</kbd>
    <kbd class="btn" (click)="handleLetter('K')">K</kbd>
    <kbd class="btn" (click)="handleLetter('L')">L</kbd>
  </div>
  <div class="flex justify-center gap-1">
    <kbd class="btn" (click)="handleLetter('ENTER')">ENTER</kbd>
    <kbd class="btn" (click)="handleLetter('Z')">Z</kbd>
    <kbd class="btn" (click)="handleLetter('X')">X</kbd>
    <kbd class="btn" (click)="handleLetter('C')">C</kbd>
    <kbd class="btn" (click)="handleLetter('V')">V</kbd>
    <kbd class="btn" (click)="handleLetter('B')">B</kbd>
    <kbd class="btn" (click)="handleLetter('N')">N</kbd>
    <kbd class="btn" (click)="handleLetter('M')">M</kbd>
    <kbd class="btn" (click)="handleLetter('DEL')">DEL</kbd>
  </div>
</div>
